*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Text', serif;
	text-decoration: none;
	color:#2F2933;
	border-collapse: collapse;
	border-radius: 20px;


}

#container{
	margin:auto;
	margin-top: 1%;
	margin-bottom: 2%;
	width: 90%;
	height: 100vh;
	background-color: white;
	
	
}

#top{
	background:  linear-gradient(to right,#3BE3CC,#DBFF8B);
	color:#ECF0F1;
	width:100%;
	height: 40%;
	border-bottom: 6px solid white;
}

#top .title, .subtitle{
	margin-left: 25px;
	margin-top: 25px;
}

.title{
	font-family: 'Lobster Two', cursive;
	font-size: 400%;
	font-weight: 700;
	animation-name: giro;
	animation-duration: 0.8s;
}

.subtitle{
	width: 100%;
	background-color: transparent;
	font-size:140%;
	font-style: italic;
	font-style: lighter;
	animation-name: aparecer;
	animation-duration: 1s;
}

#index{
	font-size: 20px;
	padding-top: 40px;
	text-decoration: none;
	list-style: none;
	justify-content: space-around;
	letter-spacing: 1.5px;

}
.inicio, .proyectos, .contacto{
	float: right;
	margin-right: 50px;
	color: #2F2933;
	font-size: 80%;
	background-color: transparent;
	animation-name: aparecer;
	animation-duration: 1s;
}

#head{
	float:left;
	margin-left:2%;
	padding-top: 80px;
}

#bottom{
	background-image: linear-gradient(45deg,#3BE3CC,#DBFF8B);
	border-bottom:6px solid #ECF0F1;
	
	
}

#estacion{

}

#webpage{

}

#ssearch{
	
}

#footer{
	clear:both;
	font-weight: 10;
	background-color: #2F2933;
	color: #ECF0F1;
	padding-left: 30px;
	box-shadow: 2px 5px 10px 2px #2F2933;
}

@keyframes giro{
	0% {color:#2F2933;transform: rotate(3deg);}
	50%{color:#2F2933;transform: rotate(-3deg);}
	100%{color:#2F2933;transform: rotate(0deg);}

}

@keyframes aparecer{
	0%{color:transparent; transform: scale(1.1);}
	100%{color:#2F2933; transform: scale(1);}
}