*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Text', serif;
	text-decoration: none;
	color:#2F2933;
	border-collapse: collapse;

}

#container{
	margin:auto;
	width: 90%;
	height: 100vh;
	background-color: white;
}

#top{
	/*background-image: url(src/header-background.jpg);*/
	background: linear-gradient(to right,#29D9C2,#BDF271);
	color:#ECF0F1;
	width:100%;
	height: 40%;
	border-bottom: 6px solid white;
}

#top .title, .subtitle{
	margin-left: 25px;
	margin-top: 25px;
}

#index{
	font-size: 20px;
	padding-top: 40px;
	text-decoration: none;
	list-style: none;
	justify-content: space-around;
	letter-spacing: 1.5px;

}
.inicio, .proyectos, .contacto{
	float: right;
	margin-right: 50px;
	color: #2F2933;
	font-size: 16px;
	background-color: transparent;
	animation-name: aparecer;
	animation-duration: 0.5s;
}

#head{
	float:left;
	margin-left:2%;
	padding-top: 80px;

}

#bottom{
	background-image: linear-gradient(45deg,#29D8C2,#BDF270);
	height: 60%;
	width: 100%;
	border-bottom: 6px solid white;
	
}

#about{
	padding: 2%;
	float:left;
	height: 60vh;
}

.title{
	font-family: 'Lobster Two', cursive;
	font-size: 400%;
	font-weight: 700;
	animation-name: giro;
	animation-duration: 0.5s;


}

.subtitle{
	width:100%;
	background-color: transparent;
	font-size:140%;
	font-style: italic;
	font-style: lighter;
	animation-name: aparecer;
	animation-duration: 0.5s;
}

#p1, #p2{
	float: left;
	width: 49%;
	text-align: justify;
	font-size: 130%;
	line-height: 1.5;
	text-indent: 40px;
	padding-top: 20px;
	animation-name: aparecer;
	animation-duration: 0.5s;

}

#about .title{
	width: 40%;
	background-color: transparent;
	margin-left: 12%;
}
#p1{
	clear:left;
}

#p2{
	float: right;
	clear: right;
	
}

#footer{
	clear:both;
	font-weight: 10;
	background-color: #2F2933;
	color: #ECF0F1;
	padding-left: 20px;
}

@keyframes giro{
	0% {color:#2F2933;transform: rotate(3deg);}
	50%{color:#2F2933;transform: rotate(-3deg);}
	100%{color:#2F2933;transform: rotate(0deg);}

}

@keyframes aparecer{
	0%{color:transparent; transform: scale(1.1);}
	100%{color:#2F2933; transform: scale(1);}
}